extends page

block content

  include util

  .subnav
    ul.nav.nav-pills
      li
        a(href='#team') 2019 Technion 3DS Organizing Team
      li
        a(href='#goal') 3DS Event Goals
      //- li
      //-   a(href='#alumni') Technion 3DS Alumni
      li
        a(href='#mentors') Mentors & Panelists
      li
        a(href='#history') Global 3DS History
      li
        a(href='#past-events') Past 3DS Events Worldwide

  section.anchor#team
    h2 2019 Technion 3DS Organizing Team

    section.anchor#affiliated-faculties
      h3 Affiliated Faculties / Departments

      - var faculties = [{name:'Technion Faculty of Electrical Engineering', website:'http://webee.technion.ac.il/'}, {name:'Technion Faculty of Computer Science', website:'http://cs.technion.ac.il/'}, {name:'Technion Faculty of Architecture and Town Planning', website:'http://architecture.technion.ac.il/'}, {name:'Technion Faculty of Materials Science and Engineering', website:'http://materials.technion.ac.il/'}, {name:'Technion Faculty of Civil and Environmental Engineering', website:'http://cee.technion.ac.il/'}, {name:'Technion Faculty of Medicine', website:'http://md.technion.ac.il/'}, {name:'Technion MBA Program', website:'http://mba.technion.ac.il/'}, {name:'Technion Faculty of Chemical Engineering', website:'http://chemeng.technion.ac.il/'}, {name:'Technion Faculty of Mathematics', website:'http://www.math.technion.ac.il/'}, {name:'Technion Faculty of Physics', website:'http://phys.technion.ac.il/'}, {name:'Technion Faculty of Biomedical Engineering', website:'http://www.bm.technion.ac.il/'}, {name:'Department of Education in Science and Technology', website:'http://edu.technion.ac.il/'}]

      table.table.table-striped
        tbody
          each faculty in faculties
            tr
              td
                a(href='#{faculty.website}', target='_blank')= faculty.name


    // section.anchor#affiliated-programs
    //   h3 Affiliated Programs / Centers

    //   - var programs = [{name:'Technion Computer Engineering Center', website:'http://tce.technion.ac.il/'}, {name:'Technion MBA Program', website:'http://mba.technion.ac.il/'}, {name:'Grand Technion Energy Program (GTEP)', website:'http://gtep.technion.ac.il/'}, {name:'Bronica Entrepreneurship Center at the Technion', website:'http://www.yazamut.technion.ac.il/'}]

    //   table.table.table-striped
    //     tbody
    //       each program in programs
    //         tr
    //           td
    //             a(href='#{program.website}', target='_blank')= program.name


    //- section.anchor#steering-committee
    //-   h3 Steering Committee

    //-   - var steering = [{name:'Noemi Bitterman', desc: ['Faculty Member in Architecture and Town Planning (Industrial Design)'], website:'http://architecture.technion.ac.il/Noemi_Bitterman.htm'}]

    //-   //- {name:'Daniel Freedman', desc: ['Faculty Member in Electrical Engineering,<br />Chair of Steering Committee'], website:'http://www.danielfreedman.org/'}

    //-   table.table.table-striped
    //-     tbody
    //-       each person in steering
    //-         tr
    //-           td(rowspan='#{person.desc.length}', style='width:20%')
    //-             a(href='#{person.website}', target='_blank')= person.name
    //-           td!= person.desc[0]
    //-           //- Here is a quick hack...
    //-           if person.name === 'Daniel Freedman'
    //-             td(rowspan='5', style='width:25%')
    //-               a(href='#{("mailto:steering@technion3ds.org")}')= ('steering@technion3ds.org')
    //-         - for (var i = 1; i < person.desc.length; i++)
    //-           tr
    //-             td= person.desc[i]


    //- section.anchor#faculty-adviser
    //-   h3 Faculty Adviser

    //-   table.table.table-striped
    //-     tbody
    //-       tr
    //-         td(style='width:20%')
    //-           a(href='http://www.danielfreedman.org/', target='_blank') Daniel Freedman
    //-         td Faculty Member in Electrical Engineering
    //-         td(style='width:25%')
    //-           a(href='#{("mailto:adviser@technion3ds.org")}')= ('adviser@technion3ds.org')


    section.anchor#students
      h3 Organizing Committee

      //- Include links to <{...}@technion3ds.org> email addresses, as: chairman@, sponsorship@, recruiting@, logistics@, marketing@, webmaster@, ...
      - var positions = [{position:'Chairman', email:'chairman@technion3ds.org', students:[{name:'Shai Haim', school:'Technion EE (alumnus)', website:'http://il.linkedin.com/in/shaihi'}]}, {position:'Recruiting', email:'recruiting@technion3ds.org', students:[{name:'', school:'Technion EE'}]}, {position:'Sponsorship', email:'sponsorship@technion3ds.org', students:[{name:'Shai Haim', school:'Technion EE'}]}]

      table.table.table-striped
        tbody
          each position in positions
            tr
              td(rowspan='#{position.students.length}', style='width:20%')= position.position
              td.span3
                if position.students[0].website
                  a(href='#{position.students[0].website}', target='_blank')= position.students[0].name
                else
                  = position.students[0].name
              td.span2= position.students[0].school
              td(rowspan='#{position.students.length}', style='width:25%')
                a(href='#{("mailto:" + position.email)}')= (position.email)
            - for (var i = 1; i < position.students.length; i++)
              tr
                td.span3
                  if position.students[i].website
                    a(href='#{position.students[i].website}', target='_blank')= position.students[i].name
                  else
                    = position.students[i].name
                td.span2= position.students[i].school


  section.anchor#goal
    h2 3DS Event Goals

    p

      | The event is designed with two specific goals in mind: kick-start
      | new student-run companies and build entrepreneurial capabilities in
      | students and their university communities.

    p
      img.drop-shadow(src='/images/studentsx.png')

    p

      | For students, 3-Day Startup is an intensely fun way to learn about
      | startups and executing on business ideas by cramming semesters&#8217;
      | worth of learning into three days. You connect with cofounders, make
      | friends, drink too much caffeine, and
      em learn by doing
      | . If you are excited by this idea,
      a(href='/apply/') apply now
      | .

    p

      | For administrators and professors, 3-Day Startup is an academic
      | program designed to teach entrepreneurial skills in an extreme hands-
      | on environment. The 3DS program creates a living entrepreneurship
      | laboratory on university campuses by bringing together students
      | ranging from freshmen to freshly-minted PhDs with diverse backgrounds,
      | including computer science, business, engineering, law, design,
      | communications and others. Participants gain experience in cross-
      | disciplinary collaboration, brainstorming and ideation, and group
      | productivity, including ad-hoc leadership and decision-making under
      | severe time constraints. The resulting experience is just like that of
      | working with a budding startup company. The 2000+ 3DS alumni from 40
      | events over the last four years have started 28 technology companies
      | that have collectively raised over $8 million in investment capital.

    p

      | For sponsors, 3-Day Startup is a way to reach desirable audiences and
      | encourage a tested, proven, and exciting model for entrepreneurship
      | education. If you are interested in sponsoring 3-Day Startup, learn
      | more
      a(href='/sponsor/') here
      | .


  //- section.ancor#alumni
  //-   h2 Technion 3DS Alumni

  //-   h3 2013

  //-   p
  //-     | Coming soon
  //- ,{name:'', title:'', company:'',foto:'.jpg', bio:''}
  section.ancor#mentors

     h2 2019 Mentors & Panelists

     em In random order

     - var mentorProfiles = []

     table.table.table-striped
       tbody
           tr
              th(style='width:20%')  Mentors
              th
         each person in mentorProfiles
           tr
             td
              div(style='disply:block;float:left;vertical-align:middle;margin:0 auto')
                img.drop-shadow(src='/images/2019_mentors/#{person.foto}', style='display:block')
                strong #{person.name}<br/>
                em #{person.title}<br/>
                em #{person.company}
             td
               | #{person.bio}

      - var panelProfiles = []


     p
         br
         br



      table.table.table-striped
       tbody
           tr
              th(style='width:20%')  Panelists
              th
         each person in panelProfiles
           tr
             td
              div(style='disply:block;float:left;vertical-align:middle;margin:0 auto')
                img.drop-shadow(src='/images/2019_mentors/#{person.foto}', style='display:block')
                strong #{person.name}<br/>
                em #{person.title}<br/>
                em #{person.company}
             td
               | #{person.bio}



  section.anchor#history
    h2 Global 3DS History

    p
      | In January, 2008,
      a(href='http://3daystartup.org/our-team/', target='_blank') a group of students
      | founded
      a(href='http://3daystartup.org/', target='_blank') 3-Day Startup
      | at the University of Texas at Austin, which is the home of the
      | flagship 3DS event. Over the past four years, the program has spread
      | from semester events at the University of Texas at Austin to other
      | schools in Texas, New York, Louisiana, Massachusetts, Florida, Alaska,
      | Wisconsin, and Rhode Island. Beyond the United States, 3-Day Startup
      | operates successful programs in Germany, Spain, the Netherlands,
      | France, Portugal, Israel, China, and Chile.

    p 3 Day Startup, Inc., is a 501(c)(3) non-profit organization.

  section.anchor#past-events

    h2 Past 3DS Events Worldwide

    each filename in ['shanghai2011', 'netherlands2011_2', 'netherlands2011_1', 'usa2011', 'germany2010']
      p(style='text-align:center;margin-bottom:20px')
        img.drop-shadow(src='/images/#{filename}.jpg')
