extends page

block content

  include util

  .subnav
    ul.nav.nav-pills
      li
        a(href='#team') 2019 Technion 3DS Organizing Team
      li
        a(href='#goal') 3DS Event Goals
      //- li
      //-   a(href='#alumni') Technion 3DS Alumni
      li
        a(href='#mentors') Mentors & Panelists
      li
        a(href='#history') Global 3DS History
      li
        a(href='#past-events') Past 3DS Events Worldwide

  section.anchor#team
    h2 2019 Technion 3DS Organizing Team

    section.anchor#affiliated-faculties
      h3 Affiliated Faculties / Departments

      - var faculties = [{name:'Technion Faculty of Electrical Engineering', website:'http://webee.technion.ac.il/'}, {name:'Technion Faculty of Computer Science', website:'http://cs.technion.ac.il/'}, {name:'Technion Faculty of Architecture and Town Planning', website:'http://architecture.technion.ac.il/'}, {name:'Technion Faculty of Materials Science and Engineering', website:'http://materials.technion.ac.il/'}, {name:'Technion Faculty of Civil and Environmental Engineering', website:'http://cee.technion.ac.il/'}, {name:'Technion Faculty of Medicine', website:'http://md.technion.ac.il/'}, {name:'Technion MBA Program', website:'http://mba.technion.ac.il/'}, {name:'Technion Faculty of Chemical Engineering', website:'http://chemeng.technion.ac.il/'}, {name:'Technion Faculty of Mathematics', website:'http://www.math.technion.ac.il/'}, {name:'Technion Faculty of Physics', website:'http://phys.technion.ac.il/'}, {name:'Technion Faculty of Biomedical Engineering', website:'http://www.bm.technion.ac.il/'}, {name:'Department of Education in Science and Technology', website:'http://edu.technion.ac.il/'}]

      table.table.table-striped
        tbody
          each faculty in faculties
            tr
              td
                a(href='#{faculty.website}', target='_blank')= faculty.name


    // section.anchor#affiliated-programs
    //   h3 Affiliated Programs / Centers

    //   - var programs = [{name:'Technion Computer Engineering Center', website:'http://tce.technion.ac.il/'}, {name:'Technion MBA Program', website:'http://mba.technion.ac.il/'}, {name:'Grand Technion Energy Program (GTEP)', website:'http://gtep.technion.ac.il/'}, {name:'Bronica Entrepreneurship Center at the Technion', website:'http://www.yazamut.technion.ac.il/'}]

    //   table.table.table-striped
    //     tbody
    //       each program in programs
    //         tr
    //           td
    //             a(href='#{program.website}', target='_blank')= program.name


    //- section.anchor#steering-committee
    //-   h3 Steering Committee

    //-   - var steering = [{name:'Noemi Bitterman', desc: ['Faculty Member in Architecture and Town Planning (Industrial Design)'], website:'http://architecture.technion.ac.il/Noemi_Bitterman.htm'}]

    //-   //- {name:'Daniel Freedman', desc: ['Faculty Member in Electrical Engineering,<br />Chair of Steering Committee'], website:'http://www.danielfreedman.org/'}

    //-   table.table.table-striped
    //-     tbody
    //-       each person in steering
    //-         tr
    //-           td(rowspan='#{person.desc.length}', style='width:20%')
    //-             a(href='#{person.website}', target='_blank')= person.name
    //-           td!= person.desc[0]
    //-           //- Here is a quick hack...
    //-           if person.name === 'Daniel Freedman'
    //-             td(rowspan='5', style='width:25%')
    //-               a(href='#{("mailto:steering@technion3ds.org")}')= ('steering@technion3ds.org')
    //-         - for (var i = 1; i < person.desc.length; i++)
    //-           tr
    //-             td= person.desc[i]


    //- section.anchor#faculty-adviser
    //-   h3 Faculty Adviser

    //-   table.table.table-striped
    //-     tbody
    //-       tr
    //-         td(style='width:20%')
    //-           a(href='http://www.danielfreedman.org/', target='_blank') Daniel Freedman
    //-         td Faculty Member in Electrical Engineering
    //-         td(style='width:25%')
    //-           a(href='#{("mailto:adviser@technion3ds.org")}')= ('adviser@technion3ds.org')


    section.anchor#students
      h3 Organizing Committee

      //- Include links to <{...}@technion3ds.org> email addresses, as: chairman@, sponsorship@, recruiting@, logistics@, marketing@, webmaster@, ...
      - var positions = [{position:'Chairman', email:'chairman@technion3ds.org', students:[{name:'Shai Haim', school:'Technion EE (alumnus)', website:'http://il.linkedin.com/in/shaihi'}]}, {position:'Recruiting', email:'recruiting@technion3ds.org', students:[{name:'', school:'Technion EE'}]}, {position:'Sponsorship', email:'sponsorship@technion3ds.org', students:[{name:'Shai Haim', school:'Technion EE'}]}]

      table.table.table-striped
        tbody
          each position in positions
            tr
              td(rowspan='#{position.students.length}', style='width:20%')= position.position
              td.span3
                if position.students[0].website
                  a(href='#{position.students[0].website}', target='_blank')= position.students[0].name
                else
                  = position.students[0].name
              td.span2= position.students[0].school
              td(rowspan='#{position.students.length}', style='width:25%')
                a(href='#{("mailto:" + position.email)}')= (position.email)
            - for (var i = 1; i < position.students.length; i++)
              tr
                td.span3
                  if position.students[i].website
                    a(href='#{position.students[i].website}', target='_blank')= position.students[i].name
                  else
                    = position.students[i].name
                td.span2= position.students[i].school


  section.anchor#goal
    h2 3DS Event Goals

    p

      | The event is designed with two specific goals in mind: kick-start
      | new student-run companies and build entrepreneurial capabilities in
      | students and their university communities.

    p
      img.drop-shadow(src='/images/studentsx.png')

    p

      | For students, 3-Day Startup is an intensely fun way to learn about
      | startups and executing on business ideas by cramming semesters&#8217;
      | worth of learning into three days. You connect with cofounders, make
      | friends, drink too much caffeine, and
      em learn by doing
      | . If you are excited by this idea,
      a(href='/apply/') apply now
      | .

    p

      | For administrators and professors, 3-Day Startup is an academic
      | program designed to teach entrepreneurial skills in an extreme hands-
      | on environment. The 3DS program creates a living entrepreneurship
      | laboratory on university campuses by bringing together students
      | ranging from freshmen to freshly-minted PhDs with diverse backgrounds,
      | including computer science, business, engineering, law, design,
      | communications and others. Participants gain experience in cross-
      | disciplinary collaboration, brainstorming and ideation, and group
      | productivity, including ad-hoc leadership and decision-making under
      | severe time constraints. The resulting experience is just like that of
      | working with a budding startup company. The 2000+ 3DS alumni from 40
      | events over the last four years have started 28 technology companies
      | that have collectively raised over $8 million in investment capital.

    p

      | For sponsors, 3-Day Startup is a way to reach desirable audiences and
      | encourage a tested, proven, and exciting model for entrepreneurship
      | education. If you are interested in sponsoring 3-Day Startup, learn
      | more
      a(href='/sponsor/') here
      | .


  //- section.ancor#alumni
  //-   h2 Technion 3DS Alumni

  //-   h3 2013

  //-   p
  //-     | Coming soon
  //- ,{name:'', title:'', company:'',foto:'.jpg', bio:''}
  section.ancor#mentors

     h2 2019 Mentors & Panelists

     em In random order

     - var mentorProfiles = [{name:'Itay Braun', title:'Senior Dircetor', company:'MobileNow',foto:'itay_braun.jpeg', bio:'Itay is the Co-Founder of SkyGiraffe which was acquired by ServiceNow. Itay was responsible for all aspects of the SkyGiraffe\'s technology roadmap and execution of the product development strategy. He is an entrepreneur and technologist with deep knowledge in product development, business intelligence and enterprise databases. Prior to SkyGiraffe, he was the CoFounder & Chief Technology Officer of Twingo, a successful Business Intelligence and database consulting firm based in Israel. He also worked for Microsoft UK, as a Senior Technical Consultant and Head of the Microsoft Business Intelligence User Group. Itay holds a BA in History.'},{name:'Lena Levin', title:'Co-Founder&CFO', company:'ViaSurgical',foto:'lena_levin.jpeg', bio:'Lena is the CFO and co founder of ViaSurgical, a medical device startup in the laproscopic field. Prior to that she co founded Polytouch which was acquired by Covedien. Lena is a long time mentor at BizTEC. Lena holds a CPA from Tel Aviv University and an MBA from Technion.'},{name:'Yael Glickman', title:'Product marketing', company:'Philips',foto:'Yael_Glickman.jpeg', bio:'Yael is a veteran professional in the medical field having led accelerators and startups. She holds a PhD from Weizman institution and an MBA from Technion.'},{name:'Edit Goldberg', title:'Co founder & CEO', company:'EscalaMedical',foto:'edit_goldberg.jpeg', bio:'Edit brings over 15 years of medical device industry experience in senior development and strategic and business development positions. DMD, Hadassah School of Dental Medicine, Hebrew University of Jerusalem; MBA, Interdisciplinary Center (IDC), Herzliya, Israel'},{name:'Eli Barenboim', title:'Business Development', company:'',foto:'eli_barenboim.jpeg', bio:'Eli is an experienced high tech business development. Currently pursuing a degree at the IDC Beyond program, Eli holds a CPA from the Hebrew University.'},{name:'Liad Rubin', title:'Partner', company:'Emerge Capital',foto:'liad_rubin.jpg', bio:'A true startups addict and technology enthusiast, Liad is an Partner @  Emerge Capital, an early stage VC. Before that Liad served as an investor at Kaedan Capital. Since 2007 Liad has been involved with technology startups and overseen online marketing and business development for several tech start-ups. Liad holds an MBA from IE Business School, Madrid, and is a graduate of the Venture Lab, the IE Business School Entrepreneurship program. Liad also holds a BA in Business Administration with specialization in Marketing from IDC, Herzliya'},{name:'Ofer Lazovski', title:'Partner', company:'Kaedan Capital',foto:'ofer_lazovski.jpg', bio:'Ofer served as a co-founder and VP R&D of 888.com for almost a decade (LSE: 888 holdings) accompanying its growth from start up phase up to a 1000+ employees publicly traded corporation.In recent years, after 888, Ofer has been engaged as an active investor and board member in various technology ventures, including 5min which was acquired by AOL (NYSE: AOL).Ofer holds a B.Sc. degree in computer science from the Technion, Haifa, Israel.'},{name:'Ophir Zardok', title:'Program Manager', company:'Macabi Haifa',foto:'ophir_zardok.jpg', bio:'Ophir is a veteran entrepreneur and a long time sports professional. Ophir currently manages the innovation program for Macabi Haifa as well as work for UEFA. Previously Ophir co founded and was CEO for Evento. Ophir holds a BA from Technion and an MA in sports from Bocconi.'},{name:'Jonathan Friedman', title:'Partner', company:'Lionbird Capital',foto:'jonathan_friedman.jpg', bio:'Jonathan has been involved early stage companies since 2008, when he founded Green Revolution, a direct sales and e-commerce startup. He is in charge of scouting, screening, and supporting startups for LionBird, and also volunteers as a mentor for startup accelerators such as Startup Bootcamp and the LaunchPad program in Tel Aviv University. Jonathan holds a BA degree in Economics and Organizational Studies from the University of Michigan.'},{name:'Dr. Yaov Medan', title:'Entrepreneur & Lecturer', company:'NiniSpeech',foto:'yoav_medan.png', bio:'Dr. Yoav Medan is a visiting scientist and the Electrical Engineering faculty and a lecturer at Computer Science and Biomedical Engineering at Technion. Dr. Medan volunteers as a mentor at the Technion For Life program by the alumni organization, since his days as VP and Chief architect at InSightec from which he retired in 2011. In addition, Dr. Medan founded and heads Haifa3D organization which focuses on education and training in 3D printing. Dr. Medan is active in helping startups in Haifa, specifically in the life science vertical.'},{name:'Dror Gill', title:'CTO&VP R&D', company:'Beamr',foto:'dror_gill.jpeg', bio:'Dror is the CTO and VP R&D of Beamr - a startup in the field of storage optimaztion for images and videos. Dror is also the co-organiser of Haifa BeerTech meetup. In the past, Dror was an EIR at Giza VC. Dror holds a BSc with honors in Electrical Engineering from the TEchnion.'},{name:'Gal Shaul', title:'CTO&Co founder', company:'Augury',foto:'gal_shaul.jpeg', bio:'Gal  is a Co-Founder of Augury, Inc. and serves as its Chief Technology Officer. Gal has extensive experience in signal processing, software engineering and embedded systems. Prior to founding Augury Systems, he served as the Head of Software development at EndyMed. He also worked at Zoran as a firmware engineer. Gal holds a B.Sc. in Computer Science from Technion.'},{name:'Rafi Nave', title:'Senior researcher', company:'Samuel Neeman Institute',foto:'rafi_nave.jpeg', bio:'Rafi is a senior researcher at Samuel Neeman institute. Prior to that he was leading entrepreneurship at the Technion. Rafi held many senior roles in the industry such as VP R&D Given Imaging, CTO at TowerJazz, and managed Intel Haifa site. Rafi holds an MSc and BSc from the Technion.'},{name:'Emil Fisher', title:'Co founder & CTO', company:'Breezometer',foto:'emil_fisher.png', bio:'Emil is the CTO of Breezometer where he heads the mapping air pollution in the world up to a street level resolution. Prior to that Emil worked in leading defense companies as an engineer. Emil is an expert in SW development management methodlogies and a true maker. Emil holds a B.Sc. in Software Engineering from the Technion.'},{name:'Tom Mayblum', title:'Co founder & CEO', company:'Hemonitor',foto:'tom_mayblum.jpeg', bio:'Tom is the co- founder and CEO of Hemonitor which allows the aquisition and analsysis of ultra sound imaging without medical personnel intervention. Tom holds an MSc and BSc in biomedical engineering from Technion'},{name:'Samer Toume', title:'Co founder & CTO', company:'Hemonitor',foto:'samer_toume.jpeg', bio:'Samer is the co- founder and CTO of Hemonitor which allows the aquisition and analsysis of ultra sound imaging without medical personnel intervention. Tom holds an MSc and BSc in biomedical engineering from Technion'},{name:'Shmulik Davar', title:'VP Product', company:'Medint',foto:'shmulik_davar.jpeg', bio:'Shmulik is addicted to product management with a can-do approach. From vision to a state of the art product is my strive. Strategic out of the box thinker, a visionary technologist with in-depth market research ability, enthusiastic with a commitment for best value delivery, passionate for new technology and product excellence.'},{name:'Amir Art', title:'CEO', company:'Maimad Hadash',foto:'', bio:'Amir heads Maimad Hadash which is a family office wealth management firm.'}]

     table.table.table-striped
       tbody
           tr
              th(style='width:20%')  Mentors
              th
         each person in mentorProfiles
           tr
             td
              div(style='disply:block;float:left;vertical-align:middle;margin:0 auto')
                img.drop-shadow(src='/images/2019_mentors/#{person.foto}', style='display:block')
                strong #{person.name}<br/>
                em #{person.title}<br/>
                em #{person.company}
             td
               | #{person.bio}

      - var panelProfiles = [{name:'Irit Israeli-Kahana', title:'Managing Partner', website:'http://www.Afterdox.com/',company:'Afterdox',foto:'irit_israeli.jpg', bio:'For over 3 decades Irit Israeli-Kahana held a variety of executive positions in the high tech industry both in Israel and the United States. In the last years, Irit is a managing partner at AfterDox, angels investment group. Irit and her partners are meeting with hundreds of Entrepreneurs and startups each year. Irit is on the board of few startups and mentor some of AfterDox portfolio groups. Irit expertise is early stage startups. Irit is on the advisory board of StartHub at Tel-Aviv Yaffo college & Naztech, the 1st accelerator in the Arab sector. Before joining AfterDox, Irit held executive positions in Amdocs, in which she was in charge of developments of hundreds person years projects and revenue of  tens of millions dollars. Irit also served as a development and customer relations VP at FTS.Irit holds BA & MA in psychology from Bar-ilan and MA in computer science from Boston University.'},{name:'Dagi Ben Nun', title:'Entrepreneur & Investor', company:'Bionik Printing',foto:'dagi_ben_nun.png', bio:'Dagi is a serial entrepreneur who co founded Nano Dimensions, a PCB 3D printing company, that is listed on the Tel Aviv Stock Exchange. Dagi is also co founder of other medical oriented companies. Dagi holds a BSc in Mechanical Engineering from Ben Gurion University.'}]


     p
         br
         br



      table.table.table-striped
       tbody
           tr
              th(style='width:20%')  Panelists
              th
         each person in panelProfiles
           tr
             td
              div(style='disply:block;float:left;vertical-align:middle;margin:0 auto')
                img.drop-shadow(src='/images/2019_mentors/#{person.foto}', style='display:block')
                strong #{person.name}<br/>
                em #{person.title}<br/>
                em #{person.company}
             td
               | #{person.bio}



  section.anchor#history
    h2 Global 3DS History

    p
      | In January, 2008,
      a(href='http://3daystartup.org/our-team/', target='_blank') a group of students
      | founded
      a(href='http://3daystartup.org/', target='_blank') 3-Day Startup
      | at the University of Texas at Austin, which is the home of the
      | flagship 3DS event. Over the past four years, the program has spread
      | from semester events at the University of Texas at Austin to other
      | schools in Texas, New York, Louisiana, Massachusetts, Florida, Alaska,
      | Wisconsin, and Rhode Island. Beyond the United States, 3-Day Startup
      | operates successful programs in Germany, Spain, the Netherlands,
      | France, Portugal, Israel, China, and Chile.

    p 3 Day Startup, Inc., is a 501(c)(3) non-profit organization.

  section.anchor#past-events

    h2 Past 3DS Events Worldwide

    each filename in ['shanghai2011', 'netherlands2011_2', 'netherlands2011_1', 'usa2011', 'germany2010']
      p(style='text-align:center;margin-bottom:20px')
        img.drop-shadow(src='/images/#{filename}.jpg')
