extends page

block content

  include util

  .subnav
    ul.nav.nav-pills
      li
        a(href='#team') 2018 Technion 3DS Organizing Team
      li
        a(href='#goal') 3DS Event Goals
      //- li
      //-   a(href='#alumni') Technion 3DS Alumni
      li
        a(href='#mentors') Mentors & Panelists
      li
        a(href='#history') Global 3DS History
      li
        a(href='#past-events') Past 3DS Events Worldwide

  section.anchor#team
    h2 2018 Technion 3DS Organizing Team

    section.anchor#affiliated-faculties
      h3 Affiliated Faculties / Departments

      - var faculties = [{name:'Technion Faculty of Electrical Engineering', website:'http://webee.technion.ac.il/'}, {name:'Technion Faculty of Computer Science', website:'http://cs.technion.ac.il/'}, {name:'Technion Faculty of Architecture and Town Planning', website:'http://architecture.technion.ac.il/'}, {name:'Technion Faculty of Materials Science and Engineering', website:'http://materials.technion.ac.il/'}, {name:'Technion Faculty of Civil and Environmental Engineering', website:'http://cee.technion.ac.il/'}, {name:'Technion Faculty of Medicine', website:'http://md.technion.ac.il/'}, {name:'Technion MBA Program', website:'http://mba.technion.ac.il/'}, {name:'Technion Faculty of Chemical Engineering', website:'http://chemeng.technion.ac.il/'}, {name:'Technion Faculty of Mathematics', website:'http://www.math.technion.ac.il/'}, {name:'Technion Faculty of Physics', website:'http://phys.technion.ac.il/'}, {name:'Technion Faculty of Biomedical Engineering', website:'http://www.bm.technion.ac.il/'}, {name:'Department of Education in Science and Technology', website:'http://edu.technion.ac.il/'}]

      table.table.table-striped
        tbody
          each faculty in faculties
            tr
              td
                a(href='#{faculty.website}', target='_blank')= faculty.name


    section.anchor#affiliated-programs
      h3 Affiliated Programs / Centers

      - var programs = [{name:'Technion Computer Engineering Center', website:'http://tce.technion.ac.il/'}, {name:'Technion MBA Program', website:'http://mba.technion.ac.il/'}, {name:'Grand Technion Energy Program (GTEP)', website:'http://gtep.technion.ac.il/'}, {name:'Bronica Entrepreneurship Center at the Technion', website:'http://www.yazamut.technion.ac.il/'}]

      table.table.table-striped
        tbody
          each program in programs
            tr
              td
                a(href='#{program.website}', target='_blank')= program.name


    //- section.anchor#steering-committee
    //-   h3 Steering Committee

    //-   - var steering = [{name:'Noemi Bitterman', desc: ['Faculty Member in Architecture and Town Planning (Industrial Design)'], website:'http://architecture.technion.ac.il/Noemi_Bitterman.htm'}]

    //-   //- {name:'Daniel Freedman', desc: ['Faculty Member in Electrical Engineering,<br />Chair of Steering Committee'], website:'http://www.danielfreedman.org/'}

    //-   table.table.table-striped
    //-     tbody
    //-       each person in steering
    //-         tr
    //-           td(rowspan='#{person.desc.length}', style='width:20%')
    //-             a(href='#{person.website}', target='_blank')= person.name
    //-           td!= person.desc[0]
    //-           //- Here is a quick hack...
    //-           if person.name === 'Daniel Freedman'
    //-             td(rowspan='5', style='width:25%')
    //-               a(href='#{("mailto:steering@technion3ds.org")}')= ('steering@technion3ds.org')
    //-         - for (var i = 1; i < person.desc.length; i++)
    //-           tr
    //-             td= person.desc[i]


    //- section.anchor#faculty-adviser
    //-   h3 Faculty Adviser

    //-   table.table.table-striped
    //-     tbody
    //-       tr
    //-         td(style='width:20%')
    //-           a(href='http://www.danielfreedman.org/', target='_blank') Daniel Freedman
    //-         td Faculty Member in Electrical Engineering
    //-         td(style='width:25%')
    //-           a(href='#{("mailto:adviser@technion3ds.org")}')= ('adviser@technion3ds.org')


    section.anchor#students
      h3 Organizing Committee

      //- Include links to <{...}@technion3ds.org> email addresses, as: chairman@, sponsorship@, recruiting@, logistics@, marketing@, webmaster@, ...
      - var positions = [{position:'Chairman', email:'chairman@technion3ds.org', students:[{name:'Shai Haim', school:'Technion EE (alumnus)', website:'http://il.linkedin.com/in/shaihi'}]}, {position:'Recruiting', email:'recruiting@technion3ds.org', students:[{name:'', school:'Technion EE'}]}, {position:'Sponsorship', email:'sponsorship@technion3ds.org', students:[{name:'Shai Haim', school:'Technion EE'}]}]

      table.table.table-striped
        tbody
          each position in positions
            tr
              td(rowspan='#{position.students.length}', style='width:20%')= position.position
              td.span3
                if position.students[0].website
                  a(href='#{position.students[0].website}', target='_blank')= position.students[0].name
                else
                  = position.students[0].name
              td.span2= position.students[0].school
              td(rowspan='#{position.students.length}', style='width:25%')
                a(href='#{("mailto:" + position.email)}')= (position.email)
            - for (var i = 1; i < position.students.length; i++)
              tr
                td.span3
                  if position.students[i].website
                    a(href='#{position.students[i].website}', target='_blank')= position.students[i].name
                  else
                    = position.students[i].name
                td.span2= position.students[i].school


  section.anchor#goal
    h2 3DS Event Goals

    p

      | The event is designed with two specific goals in mind: kick-start
      | new student-run companies and build entrepreneurial capabilities in
      | students and their university communities.

    p
      img.drop-shadow(src='/images/studentsx.png')

    p

      | For students, 3-Day Startup is an intensely fun way to learn about
      | startups and executing on business ideas by cramming semesters&#8217;
      | worth of learning into three days. You connect with cofounders, make
      | friends, drink too much caffeine, and
      em learn by doing
      | . If you are excited by this idea,
      a(href='/apply/') apply now
      | .

    p

      | For administrators and professors, 3-Day Startup is an academic
      | program designed to teach entrepreneurial skills in an extreme hands-
      | on environment. The 3DS program creates a living entrepreneurship
      | laboratory on university campuses by bringing together students
      | ranging from freshmen to freshly-minted PhDs with diverse backgrounds,
      | including computer science, business, engineering, law, design,
      | communications and others. Participants gain experience in cross-
      | disciplinary collaboration, brainstorming and ideation, and group
      | productivity, including ad-hoc leadership and decision-making under
      | severe time constraints. The resulting experience is just like that of
      | working with a budding startup company. The 2000+ 3DS alumni from 40
      | events over the last four years have started 28 technology companies
      | that have collectively raised over $8 million in investment capital.

    p

      | For sponsors, 3-Day Startup is a way to reach desirable audiences and
      | encourage a tested, proven, and exciting model for entrepreneurship
      | education. If you are interested in sponsoring 3-Day Startup, learn
      | more
      a(href='/sponsor/') here
      | .


  //- section.ancor#alumni
  //-   h2 Technion 3DS Alumni

  //-   h3 2013

  //-   p
  //-     | Coming soon
  //- ,{name:'', title:'', company:'',foto:'.jpg', bio:''}
  section.ancor#mentors

     h2 2018 Mentors & Panelists

     em In random order

     - var mentorProfiles = [{name:'Shai Wininger', title:'Co-Founder', website:'https://lemonade.com', company:'Lemonade',foto:'shai_wininger.jpg', bio:'Internet Entrepreneur, Co-Founder and chief Lemonade Maker at Lemonade, Founder and board member at Fiverr.com. Love executing complex ideas and bring them to life as desirable products which sell. Have a true passion for elite coding, hacking, product, branding, UI/UX and design (yea, i know its a weird mix). Founded several companies over the past 25 years, serving as CEO and CTO, leading and coding innovation from games on mobile devices to the aircraft maintenance for the aerospace industry.'},{name:'Adi Azaria', title:'Co-founder&Chief Evangelist', company:'SiSense',foto:'adi_azaria.jpg', bio:'As Co-Founder & Chief Evangelist at Sisense, Adi Azaria is a passionate entrepreneur, investor, author, and an established thought leader in innovative technology. Before founding Sisense he received his BSc in Computer Science at the Interdisciplinary Center in Israel. Adi has used his extensive experience to help the company triple its growth for five years in a row, as well as raising 100m in funding.'},{name:'Guy Lachmann', title:'Partner', company:'Pearl Cohen & Tzedek Law Firm',foto:'guy_lachman.jpg', bio:'Guy Lachmann\'s practice involves a wide range of corporate legal representation, including venture capital and private equity financing, mergers and acquisitions, complex project financing transactions, cross-border strategic and commercial transactions, restructurings, corporate governance and general counseling to emerging growth companies in the various stages of their development. Guy was member of the editorial board of  "Law and Business", the IDC Herzliya Law Review. He further served as a teaching assistant in various high-tech and entrepreneurship courses in the Tel-Aviv University and IDC Herzliya. Guy holds an LLB and BA from the Inter Disciplinary Cente, and an LLM (cum laude) from Tel Aviv University.'},{name:'Dr. Yoav Medan', title:'Entrepreneur & Lecturer', company:'NiniSpeech',foto:'yoav_medan.png', bio:'Dr. Yoav Medan is a visiting scientist and the Electrical Engineering faculty and a lecturer at Computer Science and Biomedical Engineering at Technion. Dr. Medan volunteers as a mentor at the Technion For Life program by the alumni organization, since his days as VP and Chief architect at InSightec from which he retired in 2011. In addition, Dr. Medan founded and heads Haifa3D organization which focuses on education and training in 3D printing. Dr. Medan is active in helping startups in Haifa, specifically in the life science vertical.'},{name:'Emil Fisher', title:'Co founder & CTO', company:'Breezometer',foto:'emil_fisher.png', bio:'Emil is the CTO of Breezometer where he heads the mapping air pollution in the world up to a street level resolution. Prior to that Emil worked in leading defense companies as an engineer. Emil is an expert in SW development management methodlogies and a true maker. Emil holds a B.Sc. in Software Engineering from the Technion.'},{name:'Liad Rubin', title:'Associate', company:'Kaedan Capital',foto:'liad_rubin.jpg', bio:'A true startups addict and technology enthusiast, Liad is an associate @  Kaedan Capital, a private investment firm engaged in seed to early stage investments in focus areas of Internet, Mobile and Digital Media. Since 2007 Liad has been involved with technology startups and overseen online marketing and business development for several tech start-ups. Liad holds an MBA from IE Business School, Madrid, and is a graduate of the Venture Lab, the IE Business School Entrepreneurship program. Liad also holds a BA in Business Administration with specialization in Marketing from IDC, Herzliya'},{name:'Ofer Lazovski', title:'Partner', company:'Kaedan Capital',foto:'ofer_lazovski.jpg', bio:'Ofer served as a co-founder and VP R&D of 888.com for almost a decade (LSE: 888 holdings) accompanying its growth from start up phase up to a 1000+ employees publicly traded corporation.In recent years, after 888, Ofer has been engaged as an active investor and board member in various technology ventures, including 5min which was acquired by AOL (NYSE: AOL).Ofer holds a B.Sc. degree in computer science from the Technion, Haifa, Israel.'},{name:'Dr. Sharon Tal-Itzkovitch', title:'Lecturer', company:'Technion',foto:'sharon_tal.jpg', bio:'Sharon is the co-creator of the \'Market Opportunity Navigator\'- a business tool that helps entrepreneurs in making a smart choice of market opportunities. She gives lectures and workshops on a regular basis to students and start-ups, dealing with high-tech marketing. Sharon is the co- founder and the former executive director of the Entrepreneurship Center at the Technion, and she has vast experience in marketing, as well as in strategic consulting. Sharon earned her PhD (in the field of entrepreneurship) and her MSc (in the field of strategic management) both from the Technion.'},{name:'Daphne Levy', title:'', company:'',foto:'daphne_levy.jpg', bio:'Ms. Daphne Levy is a registered patent attorney with vast experience as a software engineer, program manager, and technical communications specialist in multinational corporations (Microsoft, Marvell, Intel). She consults start-up companies as they build IP portfolios by leading patent harvesting sessions, providing expert opinions on patentability of inventions and freedom to operate, drafting patent applications and building IP strategies towards potential investments. In addition to her Patent Attorney license, Daphne holds a B.Sc. in Computer Science and an MBA, both from the Technion.'},{name:'Dr. Shady Hassan', title:'CEO & co- founder', company:'Healthymize',foto:'shady.jpg', bio:'Shady is an internal medicine specialist, co-founder and CEO of Healthymize. Healthymize provides monitoring of COPD patients using only smartphones. Before founding Healthymize, Shady graduated from the faculty of medicine in the Technion and completed a residency in internal medicine. Feel free to ask him for advice regarding planning and conducting clinical trials, regulatory affairs, intellectual property development, fundraising, and web and mobile app development.'},{name:'Dr. Daniel Aronovich', title:'CTO & co-founder', company:'Healthymize',foto:'daniel_a.jpg', bio:'An avid learner and problem solver. A Technion graduate (Bsc,Msc, EE). Currently is the CTO of Healthymize. Passionate about optimizing different aspects of life, with emphasis on Entrepreneurship, Technology,Innovation and Sustainability. In his spare time is interested in the biology of aging, Transhumanism and the nature of reality.'}]

     table.table.table-striped
       tbody
           tr
              th(style='width:20%')  Mentors
              th
         each person in mentorProfiles
           tr
             td
              div(style='disply:block;float:left;vertical-align:middle;margin:0 auto')
                img.drop-shadow(src='/images/2018_mentors/#{person.foto}', style='display:block')
                strong #{person.name}<br/>
                em #{person.title}<br/>
                em #{person.company}
             td
               | #{person.bio}

      - var panelProfiles = [{name:'Moshe Bercovich', title:'GM Israel', website:'http://www.shutterfly.com/',company:'Shutterfly',foto:'moshe_bercovich.jpg', bio:'Moshe currently serves as the GM of Shutterfly’s R&D office in Israel following Photoccino’s acquisition by Shutterfly on May 2012.  He is also assisting entrepreneurs and early stage startups (Pro-Bono). Moshe co-founded Photoccino and has served as CEO since its inception (2010) and until the Shutterfly acquisition.  Prior to that, Moshe spent about 10 years working in the US (East Coast and Silicon Valley) holding senior product management and technical positions for few different startups (the last one was B-hive which was acquired by VMware in 2008). Moshe holds a B.A in Computer Science and Mathematics (Haifa University). In the IDF Moshe served in 8200.'}]


     p
         br
         br



      table.table.table-striped
       tbody
           tr
              th(style='width:20%')  Panelists
              th
         each person in panelProfiles
           tr
             td
              div(style='disply:block;float:left;vertical-align:middle;margin:0 auto')
                img.drop-shadow(src='/images/2018_mentors/#{person.foto}', style='display:block')
                strong #{person.name}<br/>
                em #{person.title}<br/>
                em #{person.company}
             td
               | #{person.bio}



  section.anchor#history
    h2 Global 3DS History

    p
      | In January, 2008,
      a(href='http://3daystartup.org/our-team/', target='_blank') a group of students
      | founded
      a(href='http://3daystartup.org/', target='_blank') 3-Day Startup
      | at the University of Texas at Austin, which is the home of the
      | flagship 3DS event. Over the past four years, the program has spread
      | from semester events at the University of Texas at Austin to other
      | schools in Texas, New York, Louisiana, Massachusetts, Florida, Alaska,
      | Wisconsin, and Rhode Island. Beyond the United States, 3-Day Startup
      | operates successful programs in Germany, Spain, the Netherlands,
      | France, Portugal, Israel, China, and Chile.

    p 3 Day Startup, Inc., is a 501(c)(3) non-profit organization.

  section.anchor#past-events

    h2 Past 3DS Events Worldwide

    each filename in ['shanghai2011', 'netherlands2011_2', 'netherlands2011_1', 'usa2011', 'germany2010']
      p(style='text-align:center;margin-bottom:20px')
        img.drop-shadow(src='/images/#{filename}.jpg')
